body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

#loading-page, #click-page, #video-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    background: #181818;
    color: white;
}

#loading-page h1 {
    animation: fadeIn 3s;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
